.container {
  margin: auto;
  max-width: 800px;
  width: 100%;
  margin-top: 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  @media(max-width: 1024px) {
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
  @media(max-width: 768px) {
    margin-top: 32px;
  }
}

.footer {
  padding: 12px 32px;
  border-top: 1px solid white;
  margin-top: 12px;
  display: flex;
  flex: 0 0;
  align-items: center;
}